{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet"> {% block style %} {% endblock %}
</head>

<body>
    {% if request.session.username is None %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MedikaGo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login / Register<span class="sr-only">(current)</span></a>
                </li>
        </div>
    </nav>
    {% elif request.session.role == 'administrator' and request.session.username is not None %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MedikaGo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/fiturhilmi/profile">Profil <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sesi Konsultasi
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/fiturkamila/create_sesi_konsultasi">Tambah Sesi Konsultasi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturkamila/view_sesi_konsultasi">Informasi Sesi Konsultasi</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              RS Cabang
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/fiturkamila/create_rs_cabang">Tambah RS Cabang</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturkamila/view_rs_cabang">Informasi RS Cabang</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturwulan/daftar_dokter">Tambah Dokter RS Cabang</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturwulan/view_dokter">Informasi Dokter RS Cabang</a>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tindakan Poliklinik
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/fiturhilmi/create_tindakan_poliklinik">Tambah Tindakan Poliklinik</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturhilmi/view_daftar_tindakan_poliklinik">Informasi Tindakan Poliklinik</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tindakan 
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/fiturhilmi/create_tindakan">Tambah Tindakan</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturhilmi/view_daftar_tindakan">Informasi Tindakan</a>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Layanan Poliklinik  
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/fiturwulan/create_layanan_poliklinik">Tambah Layanan Poliklinik</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturwulan/view_layanan_poliklinik">Informasi Layanan Poliklinik</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturwulan/view_jadwal_poliklinik">Informasi Jadwal Poliklinik</a>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Transaksi  
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/fiturnaufal/create_transaksi">Tambah Transaksi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/fiturnaufal/read_transaksi">Informasi Transaksi</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
        </div>
    </nav>

    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Medika-Go</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/fiturhilmi/profile">Profil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fiturkamila/view_sesi_konsultasi">Daftar Sesi Konsultasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fiturhilmi/view_daftar_tindakan_poliklinik">Daftar Tindakan Poliklinik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fiturhilmi/view_daftar_tindakan">Daftar Tindakan</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RS Cabang
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/fiturkamila/view_rs_cabang">Daftar RS Cabang</a>
                        <a class="dropdown-item" href="/fiturwulan/view_dokter">Daftar Dokter-RS Cabang</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fiturwulan/view_layanan_poliklinik">Daftar Layanan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fiturnaufal/read_transaksi">Daftar Transaksi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %} {% block content %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'alergi.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>