{% extends 'base.html' %} {% block style %}
<style>
    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
</style>
<title>MedikaGo</title>
{% endblock %} {% block content %}

<body>
    <h1>Login to MedikaGo</h1>
    <hr class="my-4">
    <div class="card text-center mt-5">

        <form method="POST" class="post-form" action="">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <div class="col-sm-12">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Username:</label>
                    <div class="col-sm-12">
                        {{ form.username }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Password:</label>
                    <div class="col-sm-12">
                        {{ form.password }}
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark mb-3" value="Submit">Login</button>
        </form>
        </div>
        <a href="/daftar_admin">
            <p>Register Administrator</p>
            <a href="/regis_dokter">
                <p>Register Dokter</p>
                <a href="/daftar_pasien">
                    <p>Register Pasien</p>


    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script>
            {% endif %}
        {% endfor %}
    {% endif %}
    
</body>
{% endblock %}