{% extends 'base.html' %} {% block style %}
<style>
    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
</style>
{% endblock %} {% block content %}

<body>
    <h1>Form Pendaftaran Dokter</h1>
    <hr class="my-4">
    <div class="container">
        <form method="POST" class="post-form" action="{% url 'login:daftar_dokter' %}">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-3">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-4">
                        {{ form.username }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-4">
                        {{ form.password }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nomor Identitas:</label>
                    <div class="col-sm-4">
                        {{ form.no_id }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nama Lengkap:</label>
                    <div class="col-sm-4">
                        {{ form.nama }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tanggal Lahir:</label>
                    <div class="col-sm-4">
                        {{ form.ttl }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-4">
                        {{ form.email }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Alamat:</label>
                    <div class="col-sm-4">
                        {{ form.alamat }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nomor SIP:</label>
                    <div class="col-sm-4">
                        {{ form.sip }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Spesialisasi:</label>
                    <div class="col-sm-4">
                        {{ form.spesialisasi }}
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-info">Daftar</button>
        </form>

</body>
{% endblock %}