{% extends 'base.html' %} {% block style %}
<style>
    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .container {
        margin: 0;
        display: inline-flex;
    }
    
    .container2 {
        align-items: center;
    }
</style>
{% endblock %} {% block content %}

<body>
    <h1>Form Pembuatan Tindakan</h1>
    <div class="container2">
        <form method="POST" style="padding-left: 10%;">

            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>

            <!--  <div class="form-group">
            <p>ID Konsultasi: </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Daftar ID
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Konsultasi 1</a>
                    <a class="dropdown-item" href="#">Konsultasi 2</a>
                </div>
            </div>

            <div class="form-group">
            <p>ID Transaksi: </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose ID</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" name="IDTransaksi">
                    <a class="dropdown-item" href="#">Transaksi 1</a>
                    <a class="dropdown-item" href="#">Transaksi 2</a>
                </div>
            </div>
            </div>

            <div class="form-group">
            <p>Catatan: </p> 
                <textarea type="text" class="form-control" name="Catatan" maxlength="50" rows="1" id="IDKonsultasi" placeholder="notes"></textarea>
            </div>

            <div class="form-group">
            <p>Daftar ID Tindakan Poliklinik: </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose ID
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" name="IDTindakanKlinik">
                    <a class="dropdown-item" href="#">Tindakan 1</a>
                    <a class="dropdown-item" href="#">Tindakan 2</a>
                </div>
            </div>
            </div> -->


            <center>
                <button position="absolute" align="center" type="submit" class="btn btn-primary" id="submit" style="font-weight: bold;">submit</button>
            </center>
        </form>

        <!-- <form method="POST">
        {% csrf_token %}
        <div class="container">
            <p>ID Konsultasi: </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose ID
            </div>
        </div>


        <div class="container">
            <p>ID Transaksi: </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose ID
            </div>
        </div>


        <div class="container">
            {{ form.as_p }}
        </div>


        <div class="container">
            <p>Daftar ID Tindakan Poliklinik: </p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose ID
                </button>
            </div>
        </div>


        <div>
            <button>submit</button>
        </div>
    </form> -->

    </div>
</body>
{% endblock %}