:root {
    --darkest-blue: #1a1a2e;
    --light-dark-blue: #16213e;
    --light-blue: #0f3460;
    --red: #e94560;
    --green: #79DE79;
    --blue: #A8E4EF;
    --yellow: #FCFC99;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-blue);
    min-height: 100vh;
}

.root {
    font-family: 'Montserrat', serif;
    max-width: 60vw;
}

.head {
    width: 100%;
    color: white;
}

.datas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.kasus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    background-color: var(--light-dark-blue);
    border-radius: 20px 20px 20px 20px;
    padding: 20px 0;
    margin: 20px 20px;
}

p {
    margin: auto 0;
}

.datas-angka1 {
    color: var(--red);
    font-size: 50px;
}

.datas-angka2 {
    color: var(--green);
    font-size: 50px;
}

.datas-angka3 {
    color: var(--blue);
    font-size: 50px;
}

.datas-angka4 {
    color: var(--yellow);
    font-size: 50px;
}

.datas-status {
    color: white;
}

.input {
    color: white;
}