{% extends 'base.html' %} {% block style %}
<style>
    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
</style>
<title>Informasi Jadwal Poliklinik</title>
{% endblock %} {% block content %}
<div class="container">
    <div class="page-header">
        <h1>Informasi Jadwal Layanan Poliklinik</h1>
    </div>
    <div>
        <table class=' table table-condensed '>
            <thead>
                <tr>
                    <th>ID Jadwal Poliklinik</th>
                    <th>Hari</th>
                    <th>Waktu Mulai</th>
                    <th>Waktu Selesai</th>
                    <th>Kapasitas</th>
                    <th>ID Dokter</th>
                    <th>ID Poliklinik</th>
                    {% if request.session.role == "administrator" %}
                        <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for i in table %}
                <tr>
                    {% if request.session.role == "administrator" %}
                    
                    {% endif %}
                        <td>{{i.id_jadwal_poliklinik}}</td>
                        <td>{{i.hari}}</td>
                        <td>{{i.waktu_mulai}}</td>
                        <td>{{i.waktu_selesai}}</td>
                        <td>{{i.kapasitas}}</td>
                        <td>{{i.id_dokter}}</td>
                        <td>{{i.id_poliklinik}}</td>                   
                        {% if request.session.role == "administrator" %}
                        <td>
                        <div class="pi-draggable btn-group" draggable="true">
                            <a class="btn btn-outline-dark" href="{% url 'fiturwulan:update_jadwal_poliklinik' i.id_jadwal_poliklinik %}">Update</a>
                            <a class="btn btn-outline-dark" href="{% url 'fiturwulan:delete_jadwal_poliklinik' i.id_jadwal_poliklinik %}">Delete</a>
                        </div>
                        </td>
                        
                        {% endif %}
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}