{% extends 'base.html' %} {% block style %}
<style>
    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
</style>
<title>Informasi Transaksi</title>
{% endblock %} {% block content %}

<body>
    <h1>Informasi Transaksi</h1>

    <table class="table table table-hover">
        {% if request.session.role == 'administrator' and request.session.username is not None %}
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Status</th>
                <th scope="col">Total Biaya</th>
                <th scope="col">Waktu Pembayaran</th>
                <th scope="col">Nomor Rekam Medis Pasien</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        {% for i in hasil %}
        <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
                <td>{{i.3}}</td>
                <td>{{i.4}}</td>
                <td>{{i.5}}</td>
                <td>
                    <div class="pi-draggable btn-group" draggable="true">
                        <a class="btn btn-outline-primary" href="{% url 'fiturnaufal:update_transaksi' pk=i.0 %}"><b>Update</b></a>
                        <a class="btn btn-outline-danger" href="{% url 'fiturnaufal:delete_transaksi' pk=i.0 %}"><b>Delete</b></a>
                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %} {% else %}
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Status</th>
                <th scope="col">Total Biaya</th>
                <th scope="col">Waktu Pembayaran</th>
                <th scope="col">Nomor Rekam Medis Pasien</th>
            </tr>
        </thead>
        {% for i in hasil %}
        <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
                <td>{{i.3}}</td>
                <td>{{i.4}}</td>
                <td>{{i.5}}</td>
            </tr>
        </tbody>
        {% endfor %} {% endif %}
    </table>
</body>
{% endblock %}